{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "content" }}

<article class="article-page">

  <header class="article-header">
    <h1>{{ .Title }}</h1>

    {{ if .CreatedAt }}
      <div class="article-meta">
        <time class="article-date" datetime="{{ .CreatedAt }}">
          {{ .CreatedAt.Format "January 2, 2006" }}
        </time>
    
        {{ if .IsPublic }}
          <span class="article-visibility public">Public</span>
        {{ else }}
          <span class="article-visibility private">Private</span>
        {{ end }}
      </div>
    {{ end }}

    {{ if .Slug }}
      <span class="article-slug">
          <a href="/sub/{{ .Slug }}.html">/{{ .Slug }}</a>
      </span>
    {{ end }}

  </header>

  <div class="article-content">
    {{ .HTML }}
  </div>

</article>

{{ end }}
