{{ define "title" }}
  {{ if .ActiveSubject }}
    {{ .ActiveSubject }}
  {{ else }}
    YourName's Blog
  {{ end }}
{{ end }}

{{ define "content" }}

<section class="container">

  <!-- Subject Selector -->
  <div class="subject-selector">

    <!-- All articles -->
    <a 
      href="/index.html" 
      class="subject-pill {{ if not .ActiveSubject }}active{{ end }}"
    >
      All
    </a>

    {{ range .Subjects }}
      {{- if ne .Slug "default" -}}
          <a 
            href="/sub/{{ .Slug }}.html"
            class="subject-pill {{ if eq $.ActiveSubject .Title }}active{{ end }}"
          >
            {{ .Title }}
          </a>
      {{ end }}
    {{ end }}

  </div>

<div class="rss-wrapper">
  <a href="/rss.xml" class="subject-pill rss-link">📡 RSS (notifications)</a>
</div>

  <!-- Articles Grid -->
  <div class="card-grid">

    {{ range $i, $a := .Articles }}
      {{ if $a.IsPublic }}
          <a
            href="/articles/{{ $a.TitleURL }}.html"
            class="doc-card card-variant-{{ add (mod $i 4) 1 }}"
          >
            <h3>{{ $a.Title }}</h3>

            <p>{{ excerpt $a.HTML 22 }}</p>
          </a>
      {{ end }}
    {{ end }}

  </div>

</section>

{{ end }}



